.content-container {
  padding-top: 30px;
  min-height: calc(100% - 64px);
}

.table-container {
  width: 900px;
  max-height: 750px;
  overflow-y: scroll;
  border: solid 2px #b6b6b641;
  border-radius: 5px;

  &::-webkit-scrollbar {
    display: none;
  }
}

th, td {
  text-align: center;
}

.title-balance {
  color: #008000;
}

.title-invested {
  color: #ff0000;
}