.content-container {
  padding-top: 30px;
  min-height: calc(100% - 64px);
}

td {
  cursor: pointer;
}

.mat-header-row:hover {
  background-color: rgb(194, 194, 236);
}

h3 {
  margin-top: 10px;
}

.chart {
  margin-bottom: 30px;
}

.stockContainer {
  margin: 30px 0 30px 0;
}

td {
  text-align: center;
}

th {
  text-align: center;
  align-content: center;
  align-self: center;
}